<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/home.css">
    
    <!-- <script type="module" src="../static/js/codeEditor.js"></script> -->

    <title>Code Editor</title>
    <style>

    </style>
</head>
<body>
    <div class="container-fluid">
        <div title="blockProcessing">Enter the code of the block in python language</div>
        <select name="code-type" id="code-type" onchange="get_code(this)">
            <option value="null" selected disabled>Select Code Type</option>
            <option value="design">Design</option>
            <option value="performance">Performance</option>
            <option value="lifing">Lifing</option>
            <option value="prognostics">Prognostics</option>
        </select>
        <div id="editorContainerProcessing" style="border: 1px solid #ccc; height:85vh"></div>
        <div class="controls">
            <button id="updateCodeBtn" class="btn btn-outline-success" onclick="put_edited_code('code-type')">Update Code</button>
        </div>
    </div>
    <script src="/static/js/updateBlockCode.js"></script>
    <script src="/static/js/bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>